<%-include ../common/_meta.html%>
<title>添加管理员 - 管理员管理 </title>
<meta name="keywords" content="H-ui.admin v3.1,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.1，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-admin-add">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>管理员帐号：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="" placeholder="" id="account" name="account">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>初始密码：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="password" class="input-text" autocomplete="off" value="" placeholder="密码" id="pass" name="pass">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="password" class="input-text" autocomplete="off"  placeholder="确认新密码" id="password2" name="password2">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>管理员昵称：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="" placeholder="" id="nick" name="nick">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>管理员邮箱：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="" placeholder="" id="email" name="email">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>管理员头像：</label>
		<div class="formControls col-xs-8 col-sm-9 skin-minimal">
		<span class="btn-upload form-group">
		  <input class="input-text upload-url radius" type="text" name="avatar" id="avatar" readonly>
		  <a href="javascript:void();" class="btn btn-primary radius"><i class="iconfont">&#xf0020;</i> 浏览文件</a>
		  <input type="file" multiple  name="avatarfile"  id="avatarfile" class="input-file">
		</span>
		</div>
	
	</div>
	<div class="row cl avatar-box">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>默认头像：</label>
		
		<img src="/images/avatar/default.jpg"  id="avatarimg" alt="" width="50">
	</div>

	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
		<div class="formControls col-xs-8 col-sm-9 skin-minimal">
			<div class="radio-box">
				<input name="sex" type="radio" id="sex-1" value="1" checked>
				<label for="sex-1">男</label>
			</div>
			<div class="radio-box">
				<input type="radio" id="sex-2" name="sex" value="0">
				<label for="sex-2">女</label>
			</div>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="" placeholder="" id="phone" name="phone">

		</div>
	</div>
	
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">角色：</label>
		<div class="formControls col-xs-8 col-sm-9"> 
		
		<%adminRoles.forEach(function(item){%>			
		<span class="checkbox">
		<label>
		<input type="checkbox" value="<%=item._id%>"  class="role">
		<%=item.roleName%></label>
		<%})%>
		</span>
			<input type="text" name="roles" name="roles" id="roles">
			</div>
	</div>

	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">备注：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<textarea name="intro" cols="" rows="" class="textarea"  placeholder="说点什么...100个字符以内" dragonfly="true" onKeyUp="$.Huitextarealength(this,100)"></textarea>
			<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
		</div>
	</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>

<%-include ../common/_footer.html%>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="<%=staticPath%>lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="<%=staticPath%>lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="<%=staticPath%>lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">
$(function(){
var roles=$(".role");

$(".role").on("change",function(){
	var rolesArr=[];
	for(var i=0;i<roles.length;i++){
		if(roles[i].checked){
			console.log(roles[i].checked)
			rolesArr.push(roles[i].value);
		}
	}
	$("#roles").val(rolesArr.join("|"));
});

	function getBase64(file,cb){
		var reader=new FileReader();
		reader.readAsDataURL(file);
		reader.onload=function(){
			cb(this.result);
		}
	}
	function showPic(e){

	}
	$("#avatarfile").on("change",function(e){
		var obj=e.target;
		// console.log(obj);
		// console.log(obj.files,obj.value);
		var files=obj.files,value=obj.value,oImg=$("#avatarimg")[0];
		if(!value.match(/\.jpg|\.gif|\.png/i)){
			alert('必须是图片类型');
			return;
		}
		if(files){
			getBase64(files[0],function(base64){
				// console.log(oImg,base64);
				oImg.src=base64;
			})
		}else{
			oImg.src=value;
		}
	});
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-admin-add").validate({
		rules:{
			adminName:{
				required:true,
				minlength:4,
				maxlength:16
			},
			pass:{
				required:true,
			},
			password2:{
				required:true,
				equalTo: "#pass"
			},
			sex:{
				required:true,
			},
			phone:{
				required:true,
				isPhone:true,
			},
			email:{
				required:true,
				email:true,
			},
			adminRoles:{
				required:true,
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit({
				type: 'post',
				url: "/houtai/index/admin/store" ,

				success: function(response){
					if(response.error==0){
						//success;
						 $("#form-admin-add").resetForm();

						layer.msg(response.result,{icon:1,time:1000});
					}else{
						layer.msg(response.result,{icon:5,time:1000});
					}
				},
                error: function(XmlHttpRequest, textStatus, errorThrown){
					layer.msg('error!',{icon:5,time:1000});
				}
			});
			
		}
	});
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>