<!DOCTYPE html>
<html lang="en">
<head>
	<%-include ../public/meta.html %>
	<title>-details</title>
	<%-include ./common/links.html %>
</head>
<body>
	<%-include ./common/header.html%>
	 <main class="main clear">
    <div class="container clear">
		<div class="mainColumn">
			<div class="title">
				<ul class="cates">
					<li><a href="javascript:;">Js</a></li>
					<li><a href="javascript:;">Node</a></li>
					<li><a href="javascript:;">Express</a></li>
					<li><a href="javascript:;">Koa</a></li>
				</ul>
				<div class="bowen">
					<div class="title">
						
					</div>
				</div>
			</div>
		</div>
		<div class="rightSider">
			
		</div>
   	 </div>
   </main>

</body>
</html>