<%- include ../common/_meta.html%>
<title>角色</title>
<meta name="keywords" content="">
<meta name="description" content="">
</head>
<body>

<article class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-admin-role-edit">
		<div class="row cl">
			<input type="hidden" name="_id" value="<%=role._id%>">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="<%=role.roleName%>" placeholder="" id="roleName" name="roleName">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">备注：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="<%=role.desc%>" placeholder="" id="" name="desc">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">角色权限：</label>
			<div class="formControls col-xs-8 col-sm-9  auth-wrap">
				<dl class="permission-list">
					<dt>
						<label>
							<input type="checkbox" value="" name="" id="">
							全选</label>
							<input type="text" id="rolesid_box" name="rolesid" value="">
					</dt>
					<%for(var k in modelAuths){%>
					<dd>
						<dl class="cl permission-list2">
							<dt>
								<label class="">
									<input type="checkbox" value="" name="-0" id="-0">
									"<%=k%>"模块</label>
							</dt>
						
							<dd>
							<%modelAuths[k].forEach((item)=>{%>
							
							
								<label class="">
									<input type="checkbox" value="<%=item._id%>" name="" id="">
									<%=item.authName%></label>
							<%})%>
								
							</dd>
						</dl>
					<dd>
				<%}%>
				</dl>
				
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<button type="submit" class="btn btn-success radius" id="admin-role-save" name="admin-role-save"><i class="icon-ok"></i> 确定</button>
			</div>
		</div>
	</form>
</article>
<style type="text/css">
	.auth-wrap dl dd dt{
		margin-right: 30px;
	}
</style>
<%- include ../common/_footer.html%>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="<%=staticPath%>lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="<%=staticPath%>lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="<%=staticPath%>lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
	//处理选中；
	var checkboxs=$(".auth-wrap input[type=checkbox]");
	var authsIds=$("#rolesid_box");
	checkboxs.on("change",function(){
		var resultArr=[];
		
		for(var i=0;i<checkboxs.length;i++){
			
			if(checkboxs[i].checked &&checkboxs[i].value!==''){
				console.log(checkboxs[i].value)
				resultArr.push(checkboxs[i].value);
			}
		}
		authsIds.val(resultArr.join("|"));
	});


	$(".permission-list dt input:checkbox").click(function(){
		$(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
	});
	$(".permission-list2 dd input:checkbox").click(function(){
		var l =$(this).parent().parent().find("input:checked").length;
		var l2=$(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
		if($(this).prop("checked")){
			$(this).closest("dl").find("dt input:checkbox").prop("checked",true);
			$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
		}
		else{
			if(l==0){
				$(this).closest("dl").find("dt input:checkbox").prop("checked",false);
			}
			if(l2==0){
				$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
			}
		}
	});
	
	$("#form-admin-role-edit").validate({
		rules:{
			roleName:{
				required:true,
				minlength:4,
				maxlength:50
			},
		},
		messages:{
			roleName:'角色名称是必须的！'
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){

			$(form).ajaxSubmit({
				type:"post",
				url:"/houtai/index/adminrole/save",
				success:function(res){
					if(res.error==0){
						layer.msg("编辑角色成功！",{
							icon:1
						});
						$("#form-admin-role-add").resetForm();
					}else{
						layer.msg(res.result,{
							icon:5
						});
					}
					
				}
			});
			/*var index = parent.layer.getFrameIndex(window.name);
			parent.layer.close(index);*/
		}
	});
});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>

<!-- <dl class="permission-list">
					<dt>
						<label>
							<input type="checkbox" value="" name="" id="user-Character-1">
							特殊权限</label>
					</dt>
					<dd>
						<dl class="cl permission-list2">
							<dt>
								<label class="">
									<input type="checkbox" value="" name="user-Character-1-0" id="user-Character-1-0">
									用户管理</label>
							</dt>
							<dd>
								<label class="">
									<input type="checkbox" value="" name="user-Character-1" id="user-Character-1">
									添加</label>
								<label class="">
									<input type="checkbox" value="" name="user-Character-1" id="user-Character-1-0-1">
									修改</label>
								<label class="">
									<input type="checkbox" value="" name="user-Character-1" id="user-Character-1-0-2">
									删除</label>
								<label class="">
									<input type="checkbox" value="" name="user-Character-1" id="user-Character-1-0-3">
									查看</label>
								<label class="">
									<input type="checkbox" value="" name="user-Character-1" id="user-Character-1-0-4">
									审核</label>
							</dd>
						</dl>
					</dd>
				</dl> -->