<div class="mainColumn fl clear">
	<div class="bowen-header">
		<ul class="todo">
			<li class="write  fl">
				
				<a href="/write"><i class="fa fa-pencil fa-fw"></i>写博文</a>
			</li>
			<li  class="draft fr">
				<a href="javascript:;">草稿<span class="num">0</span></a>
			</li>
		</ul>
	</div>

	<div class="bowens clear">
		<div class="bowen">
			<div class="cate">所属文类：<span>网页布局</span></div>
			<div class="author-info">
				<div class="avatar fl">
					<img src="/images/avatar/default.jpg" alt="avatar" width="24">
				</div>
				<div class="author  fl">
					<span>郭积开</span>
				</div>
				<p class="personality-write fl">
					前端developer。i like it
				</p>
			</div>
			<h3 class="title">
				<a href="">有哪些近几年被 90 后、95 后追捧的新职业？</a>
			</h3>
			<div class="content clear">
				<div class="pic">
					<img src="/images/tu1.jpg" alt="">
				</div>
				<div class="text">
					泻药。感觉是码代码里碰到同性几率比较大的职业之一。
					如果你缺个会挣钱的女朋友，请来前端团队。
					如果你缺个可以帮你解决bug的女朋友，请做个后端，接口就是红线。
					如果你缺个既能微笑拿刀也会认真码字的女朋友，再不行做个产品测试，至少可以相爱相杀。<a href="javascript:;" class="show_all">查看全文<i class="fa fa-chevron-down"></i></a>
				</div>
			</div>
			<ul class="foot-tool">
				<li class="vote_up "><i class="fa fa-thumbs-o-up"></i><span class="num">0</span></li>
				<li class="vote_down"><i class="fa fa-thumbs-o-down"></i><span class="num">0</span></li>
				<li class="show_comments"><i class="fa fa-comment"></i><span class="num">0</span>条评论</li>
				<li class="eye"><i class="fa fa-eye"></i>观看</li>
				<li class="share"><i class="fa fa-share-alt"></i>分享</li>
				<li class="share"><i class="fa fa-heart-o"></i>收藏</li>
				<li>感谢</li>
			</ul>
		</div>
		<div class="bowen">
			<div class="cate">所属文类：<span>网页布局</span></div>
			<div class="author-info">
				<div class="avatar fl">
					<img src="/images/avatar/default.jpg" alt="avatar" width="24">
				</div>
				<div class="author  fl">
					<span>郭积开</span>
				</div>
				<p class="personality-write fl">
					前端developer。i like it
				</p>
			</div>
			<h3 class="title">
				<a href="">有哪些近几年被 90 后、95 后追捧的新职业？</a>
			</h3>
			<div class="content clear">
				<div class="pic">
					<img src="/images/tu1.jpg" alt="">
				</div>
				<div class="text">
					泻药。感觉是码代码里碰到同性几率比较大的职业之一。
					如果你缺个会挣钱的女朋友，请来前端团队。
					如果你缺个可以帮你解决bug的女朋友，请做个后端，接口就是红线。
					如果你缺个既能微笑拿刀也会认真码字的女朋友，再不行做个产品测试，至少可以相爱相杀。<a href="javascript:;" class="show_all">查看全文<i class="fa fa-chevron-down"></i></a>
				</div>
			</div>
			<ul class="foot-tool">
				<li class="vote_up "><i class="fa fa-thumbs-o-up"></i><span class="num">0</span></li>
				<li class="vote_down"><i class="fa fa-thumbs-o-down"></i><span class="num">0</span></li>
				<li class="show_comments"><i class="fa fa-comment"></i><span class="num">0</span>条评论</li>
				<li class="eye"><i class="fa fa-eye"></i>观看</li>
				<li class="share"><i class="fa fa-share-alt"></i>分享</li>
				<li class="share"><i class="fa fa-heart-o"></i>收藏</li>
				<li>感谢</li>
			</ul>
		</div>
	</div>
</div>